<div class="row">
  <div class="card">
    <div class="card-header">
      <h3> Sample Plating</h3>
    </div>
    <div class="card-body">
      <table class="table table-striped table-bordered">
        <thead class="thead-dark">
        <tr>
          <th></th>
          <% (1..12).each do |col| %>
            <th><%= col %></th>
          <% end %>
        </tr>
        </thead>
        <tbody>
        <% @plate.wells.sort_by{|w| w.row}.group_by {|well| well[:row]}.each do |row, wells| %>
          <tr>
            <td class="dark-cell text-center"><%= row %></td>
            <% wells.sort_by{|w|w.column}.each do |well| %>
              <%= generate_well_cell(well) %>
            <% end %>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    <div class="card-footer">
      <div class="d-flex state-keys">
        <div class="state-key-container ml-auto p-1 mb-1">
          <span class="pl-1 "><div class="marked-cell states-key align-middle"></div><span class="m-1 align-middle">Active</span></span>
          <span class="pl-1 "><div class="control-cell states-key align-middle"></div><span class="m-1 align-middle">Control</span></span>
          <span class="pl-1 "><div class=" rejected-cell states-key align-middle"></div><span class="m-1 align-middle">Rejected</span></span>
        </div>
      </div>
    </div>
  </div>
</div>
