<div class="container">
    <h1>Editing Labgroup</h1>

    <%= render 'form', labgroup: @labgroup %>

    <%= link_to 'Show', @labgroup, class: 'btn btn-secondary' %>
    <%= link_to 'Back', labgroups_path, class: 'btn btn-info' %>
</div>