<div class="container">
  <br/>
  <h2>Dashboard for Samples</h2>
  <br/>
  <table id="datatable" class="table table-striped">
    <thead class="thead-dark">
    <tr>
      <th>Sample</th>
      <th>User</th>
      <th>State</th>
    </tr>
    </thead>
    <tbody>
    <% @samples.each do |sample| %>
      <tr>
        <td><%= link_to 'Sample', sample %></td>
        <td><%= link_to sample.user.name, sample.user %></td>
        <td><%= get_badge(sample.state) %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

</div>