<div class="container table-responsive">
  <br>
    
  <p id="notice"><%= notice %></p>

  <h1>Samples</h1>
  <%= render partial: 'samples_table', locals: {path: samples_path(format: :json)} %>
  <br>
</div>
