<div class="container">
  <h1>Awaiting Return</h1>
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th>Sample</th>
        <th>User</th>
        <th><!-- Mark As Received --></th>
      </tr>
    </thead>
    <tbody>
    <% @samples.each do |sample| %>
      <tr>
        <td><%= sample %></td>
        <td><%= sample.user %></td>
        <td><%= link_to 'Mark As Received ✅', sample_receive_path(sample), method: :post %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
