<div class="container">
  <h1>Awaiting Dispatch</h1>
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th>Sample</th>
        <th>User</th>
        <th><!-- Mark As Dispatched --></th>
      </tr>
    </thead>
    <tbody>
    <% @samples.each do |sample| %>
      <tr>
        <td><%= link_to 'Sample', sample %></td>
        <td><%= sample.user.id %></td>
        <td><%= link_to 'Mark As Dispatched ✅', sample_ship_path(sample), method: :post %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
