<div class="container">

  <br>
  <h1>Upload Test Results</h1>
  <br>

    <table id="datatable" class="table table-striped table-bordered">
      <thead class="thead-dark">
      <tr>
        <th>Plate</th>
        <th>Results</th>
      </tr>
      </thead>
      <tbody>
      <% @plates.each do |plate| %>
        <tr>
          <td><%= link_to 'Plate', plate %></td>
          <td><%= link_to 'Upload Results', new_plate_test_path(plate) %></td>
        </tr>
      <% end %>
      </tbody>
    </table>

</div>