<h1 class="text-center"> Create Plate for Station A </h1>

<div class="container">
  <% if @plate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@plate.errors.count, "error") %> prohibited this client from being saved:</h2>

      <ul>
        <% @plate.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <h3>Plate Status</h3>
  <hr>
  <div class="container">
    <%= render 'plate_create' %>
  </div>
</div>