<%#= render partial: 'listing', locals: {samples: @samples, path: step3_sample_bulkprepared_path, message: 'Mark As Prepared', title: 'Awaiting Preparation', update_text: 'Mark as Prepared' } %>
<h1 class="text-center"> Create Plate for Station A </h1>
<div class="container">
  <%= render 'plate_create' %>
</div>
