<div class="col-md-6 col-sm-12">
  <h2 class="text-center">My Sample Status</h2>
  <hr/>
  <div class="card">
    <div class="card-header">Request a Test</div>
    <br/>
    <div class="col-md-12 text-center">
      <%= link_to samples_path(sample: {user_id: @user.id}), method: :post do %>
        <button class="btn btn-dark">New Test</button>
      <% end %>
    </div>
    <br/>
  </div>
  <br>
</div>