<div class="container">
  <br>
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <div class="card shadow">
        <div class="card-header "><h4>Newly generated Client</h4></div>
        <div class="card-body">
          <div class="mt-1 mb-1 ">
            <span class="profile-icon">
              <%= fa_icon "user" %>
            </span>
            <span>
              <%= @client.name %>
            </span>
          </div>
          <div class="mt-1 mb-1 ">
            <span class="profile-icon">
              <%= fa_icon "key" %>
            </span>
            <span>
              <code><%= @api_key %></code>
            </span>
            <span>
              <i>One time only API key</i>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
