<div class="container">
  <div class="row">
        <span class="text-center">
            <h1>About Us</h1>
        </span>
  </div>
  <div class="row large-font">
    <p class="lead">Increasing COVID-19 Testing capacity</p>
  </div>
</div>