
<div class="container">
  <h1>Opencell Testing</h1>
  <div class="row">
    <p> This is the site to request a test, create an account here</p>
    <br/>
    <p><%= link_to 'Sign Up', new_user_registration_path %></p>
  </div>
</div>
