<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1>Hi, <%= @user.email %>!</h1>
  <p>You have been tested for Covid-19 and have a value of <%= @sample.test_result.value %></p>
</body>
</html>