// Place all the styles related to the samples controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/


.records-list{
  max-width: 400px;
}

.marked-cell {
  background-color: #5bc0de;
}

.rejected-cell {
  background-color: #dc3545;
}