// Place all the styles related to the samples controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";


#output{
  font-size: 1.9em;
}

#output pre{
  font-size: 0.6em;
  margin: 0;
}

.records-list{
  max-width: 400px;
}

.cell > a {
  color: $white;
}

.control-cell {
  background-color: $warning;
}

.marked-cell {
  background-color: $info;
}

.rejected-cell {
  background-color: $danger;
}


.object-contain{
  object-fit: contain;
  height: auto;
  width: 100%;
  display: block;
}

.card-table {
  margin-bottom: 0 !important;
}
