// Place all the styles related to the samples controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";


#output{
  font-size: 1.9em;
}

#output pre{
  font-size: 0.6em;
  margin: 0;
}

.records-list{
  max-width: 400px;
}

.cell > a {
  color: $white;
}

.control-cell {
  background-color: $warning;
}

.positive-control-cell {
  background-color: $primary;
}

.marked-cell {
  background-color: $info;
}

.states-key{
  height: 1em;
  width: 1em;
  display: inline-block;
}
.state-keys{
  width:100%
}

.state-key-container {
  border: #00000030 1px solid;
  background-color: #fff;
}

.rejected-cell {
  background-color: $danger;
}

.auto-control-cell {
  background-color: $info;
}


.object-contain{
  object-fit: contain;
  height: auto;
  width: 100%;
  display: block;
  max-height: 150px;
}

.card-table {
  margin-bottom: 0 !important;
}

.scan-canvas {
  max-height: 500px;
}

.outline-viewcard {
  border: 2px solid;
  border-radius: 8px;
  border-color: black;
}

.outline-viewcard-success {
  border-color: $success;
  background-color: hsla(141, 61%, 88%, 0.65);

}
.outline-viewcard-danger {
  border-color: $danger;
  background-color: hsla(354, 93%, 90%, 0.65);
}


.plate-cell {
  border-color: inherit !important;
  padding-right: inherit !important;
  background-image: none !important;
  background-repeat: none !important;  
}