
<div class="container">
  <h1>Editing Test</h1>
  <div class="row">
    <%= render 'form', test: @test, plate: @plate %>
  </div>
  <div class="row">
    <%= link_to 'Show', [@plate, @test] %> |
    <%= link_to 'Back', plate_tests_path(@plate) %>
  </div>
</div>
